.custom-margin {
  margin-top: 4px;
}

.custom-grey {
  background-color:#e3e1e1;
}

.custom-border-radius {
  border-radius: 5px;
}

.custom-hidden {
  display: none;
}

.custom-data-box {
  border: 1px solid #c4c8d8;
  box-shadow: 0 2px 5px 0 #F5F6FA;
  border-radius: 0.2rem;
  height: fit-content;
  padding: 4px !important;
}

.custom-forced-width {
  width: 100% !important;
}

.custom-description {
  border-left: 1px solid #c4c8d8;
}

.custom-heading{
  color: #4983D6;
}

.custom-navbar {
  color: white;
  background-color: #20296D;
}

.custom-pointer {
  cursor: pointer;
}

.custom-font-size {
  font-size: 1rem;
}

.custom-height-15 {
  height: 15vh;
}

.custom-height-10 {
  height: 10vh;
}

.custom-height-75 {
  height: 75vh;
}

.custom-overflow {
  overflow-y: auto;
}

#logo-img {
  border-radius: 50%;
}

/* Media Queries */

@media only screen and (max-width: 700px) {
  #filter-column {
    width: 40% !important;
  }

  #data-column {
    width: 60% !important;
  }

  .custom-description {
    display: none !important;
  }
}

@media only screen and (max-width: 400px) {
  #filter-column {
    width: 100% !important;
  }

  #data-column {
    width: 100% !important;
    margin-top: 20px;
  }
}